@model Application.GameCQ.Heroes.Queries.GetUnitListQuery.HeroListViewModel
@{
    ViewData["Title"] = "Units";
}
<head>
    <partial name="_NavBar">
</head>
<body>
    <div class="has-text-align-center item-padding main-gradient">
        <h1>Your Battle Units</h1>
        <div class="item-padding ">
            @foreach (var unit in Model.Heroes)
            {
                if (!unit.IsSelected)
                {
                    <form  asp-controller="Unit" class="has-text-align-center" asp-action="Select" method="post">
                        <input type="hidden" name="id" value="@unit.Id" />
                        <input  type="submit" name="name" value="Select" />
                    </form>
                }
                else
                {
                    <a asp-controller="World" asp-action="Home"><i class="fas fa-star-of-life flip-vertical-fwd has-large-font-size"></i></a>
                }
                <div class="item-padding">
                    <a asp-controller="Unit" asp-action="Info" asp-route-id="@unit.Id" class="has-text-align-center"><p class="has-large-font-size">@unit.Name</p></a>
                    <hr class="has-narrow-width" />
                    <h3><img src="@unit.IconURL" alt="" />@unit.ClassType</h3>
                    <hr class="has-narrow-width" />
                    <h3><i class="fas fa-certificate"></i>@unit.Level</h3>
                    <hr class="has-narrow-width" />
                    <h3><i class="fas fa-heartbeat"></i>@unit.CurrentHP.ToString("f2") / @unit.MaxHP.ToString("f2")</h3>
                    <hr class="has-narrow-width" />
                    <h3><i class="fas fa-bolt"></i>@unit.Energy / 30</h3>
                    <h3><i class="fas fa-hammer"></i>@unit.ProfessionEnergy / 10</h3>
                    <h3><i class="fas fa-fist-raised"></i>@unit.PvPEnergy / 15</h3>

                    <form asp-controller="Unit" asp-action="Delete" method="post" class="item-padding">
                        <input type="hidden" name="id" value="@unit.Id" />
                        <input type="submit" name="name" value="Delete" />
                    </form>
                </div>
                <hr class="item-padding" />
            }
        </div>
        <p class="has-large-font-size main-font-color has-text-align-center"><a asp-controller="Unit" asp-action="Create">Create</a> a new one!</p>
    </div>
</body>

