@model Application.CQ.User.Queries.Panel.UserPanelViewModel
@{
    ViewData["Title"] = "Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <partial name="_NavBar">
</head>
<body>
    <div class="item-padding has-text-align-center main-font-color">
        <h2>@Model.UserName</h2>
        <div class="item-padding">
            <h2>Social</h2>
            <h3 class="item-padding">Your status is @Model.Status</h3><a asp-controller="Profile" asp-action="Status"><i class="fas fa-pen-square"></i>Change</a>
            <h3 class="item-padding">You have made @Model.Friends</h3><a asp-controller="Profile" asp-action="Friends"><i class="fas fa-user-friends"></i>Friends</a>
            <h3 class="item-padding">You have created @Model.UserTopics</h3><a asp-controller="Profile" asp-action="Topics"><i class="fas fa-stream"></i>Topics</a>
            <hr />
        </div>
        <div class="item-padding">
            <h2>Game</h2>
            <h3 class="item-padding">You have trained @Model.Units Battle</h3><a asp-controller="Profile" asp-action="Units"><i class="fas fa-fist-raised"></i>Units</a>
            <h3 class="item-padding">You have achieved @Model.MasteryPoints</h3><a asp-controller="Profile" asp-action="MasteryPoints"><i class="fas fa-meteor"></i>Mastery Points</a>
            <hr />
        </div>
        <div class="item-padding">
            <h2>Other</h2>
            <h3 class="item-padding">You have earned @Model.ForumPoints</h3><a asp-controller="Profile" asp-action="ForumPoints"><i class="far fa-thumbs-up"></i>Forum Points</a>
            <h3 class="item-padding">Your <a asp-controller="Profile" asp-action="Feedbacks">Feedback</a> has made the game @Model.Feedbacks better and you have recieved @Model.Stars Supporter Stars for your great ideas!</h3>
            <h3 class="item-padding">The times you have went a little bit overboard : @Model.Warnings and you recieved a <a asp-controller="Profile" asp-action="Warnings">Warning</a></h3>
        </div>
    </div>

</body>

