@model Application.GameCQ.Battles.Queries.GetBattleUnitsQuery.BattleUnitsListViewModel
<title>Command</title>
<partial name="_WorldNavBar">

    <div class="fade-in aligncenter starting-div">
        <h1 style="text-align:center" class="item-padding">@Model.Hero.Name  vs  @Model.Enemy.Name</h1>
        <div>
            <img src="@Model.Hero.ImagePath" alt="Player" width="80" height="80" id="hero" />
            <img src="@Model.Enemy.ImagePath" alt="Enemy" style="padding-left:250px;" id="enemy" />
            <br />

            <progress id="playerDamage" value="@Model.Hero.CurrentAttackPower" hidden></progress>
            <progress id="enemyDamage" value="@Model.Enemy.CurrentAttackPower" hidden></progress>
            <br />
            <div>
                <progress class="healthBar" id="playerHealth" value="@(Model.Hero.CurrentHP + 1)" max="@Model.Hero.MaxHP" style="margin-right: 100px"></progress>
                <progress class="healthBar" id="enemyHealth" value="@Model.Enemy.CurrentHP" max="@Model.Enemy.MaxHP"></progress>

                <div class="item-padding progress-bar bg-info">
                    <progress class="manaBar" id="playerMana" value="@Model.Hero.CurrentMana" max="@Model.Hero.MaxMana" style="margin-right: 100px"></progress>
                    <progress class="manaBar" id="enemyMana" value="@Model.Enemy.CurrentMana" max="@Model.Enemy.MaxMana"></progress>
                </div>

                <div class="item-padding"><hr /></div>
            </div>
            <div class="item-padding">
                <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-url="/Battle/Command" data-ajax-complete="Action">
                    <select class="command" name="command">
                        <option value="Attack">Attack</option>
                        <option value="Defend">Defend</option>
                        <option value="Spell">Spell</option>
                    </select>
                    <div class="item-padding fade-in" hidden id="spells">
                        <select name="spellId">
                            @foreach (var spell in Model.Hero.Spells)
                            {
                                <option value="@spell.Id">@spell.Name</option>
                            }
                        </select>
                    </div>
                    <div class="item-padding" id="button">
                        <input type="submit" class="main-button" name="button" id="action" value="Action" />
                    </div>
                </form>
                <div class="item-padding">
                </div>
            </div>
        </div>
    </div>
    <partial name="_Footer">
        @section scripts
        {
            <script src="~/js/battle.js"></script>
            <script>
                $(document).ready(function () {

                    if (document.getElementById('playerHealth').value <= 0 || document.getElementById('enemyHealth').value <= 0) {
                        window.location.href = "/Hero/All";
                    }

                    Action = (data) => {
                        if (data.status == 200) {
                            let hero = data.responseJSON.battleUnits.hero;
                            let enemy = data.responseJSON.battleUnits.enemy;

                            function update(progress, max) {
                                var msecsPerUpdate = 1000 / 60;
                                var duration = 1;
                                var interval = max / (duration * 1000 / msecsPerUpdate);
                                var bar = $(progress);

                                function animator() {
                                    bar.val(bar.val() - interval);
                                    if (bar.val() - interval > max) {
                                        setTimeout(animator, msecsPerUpdate);
                                    } else {
                                        bar.val(max);
                                    }
                                }
                                animator();
                            }

                            update('#playerHealth', hero.currentHP);
                            update('#enemyHealth', enemy.currentHP);
                            update('#playerMana', hero.currentMana);
                            update('#enemyMana', hero.currentMana);

                            if (hero.currentHP <= 0) {
                                window.location.href = "/Hero/Killed";
                            } else if (enemy.currentHP <= 0) {
                                window.location.href = "/Battle/End";
                            }

                        } else {
                            window.alert('Something Went Wrong :(');
                        }
                    }
                });

            </script>
        }
