@model Application.GameCQ.Battles.Queries.GetBattleUnitsQuery.BattleUnitsViewModel
<title>Command</title>
<partial name="_WorldNavBar">
    <script>
        $(document).ready(function () {

            var battleAction = $('#action');

            var hero = $('#hero');
            var enemy = $('#enemy');

            $("select.command").change(function () {
                var battleOption = $(this).children('option:selected').val();

                if (battleOption === 'Spell') {
                    $('#spells').removeAttr('hidden');

                } else {
                    $('#spells').attr('hidden', true);
                }

                battleAction.click(function () {

                    if (battleOption === 'Attack') {
                        hero.toggleClass('roll-in-bottom');
                        enemy.toggleClass('jello enemy-hit');

                    } if (battleOption === 'Defend') {
                        hero.toggleClass('jello enemy-hit');
                        enemy.toggleClass('roll-in-bottom');

                    } if (battleOption === 'SpellCast') {
                    }
                });
            })
        })
    </script>
    <div class="fade-in aligncenter starting-div">
        <h1 style="text-align:center" class="item-padding">@Model.Hero.Name  vs  @Model.Enemy.Name</h1>
        <div>
            <img src="@Model.Hero.ImagePath" alt="Player" width="80" height="80" id="hero" />
            <img src="@Model.Enemy.ImagePath" alt="Enemy" style="padding-left:250px;" id="enemy" />
            <br />

            <progress id="playerDamage" value="@Model.Hero.CurrentAttackPower" hidden></progress>
            <progress id="enemyDamage" value="@Model.Enemy.CurrentAttackPower" hidden></progress>
            <br />
            <div>
                <progress class="player-healthBar" id="playerHealth" value="@Model.Hero.CurrentHP" max="@Model.Hero.MaxHP"></progress>
                <progress class="healthBar" id="enemyHealth" value="@Model.Enemy.CurrentHP" max="@Model.Enemy.MaxHP"></progress>
                <br />
                <br />
                <progress class="player-manaBar" id="playerMana" value="@Model.Hero.CurrentMana" max="@Model.Hero.MaxMana"></progress>
                <progress class="manaBar" id="enemyMana" value="@Model.Enemy.CurrentMana" max="@Model.Enemy.MaxMana"></progress>
                <div class="item-padding"><hr /></div>
            </div>
            <div class="item-padding">
                <form asp-controller="Battle" asp-action="Command" method="post">
                    <select class="command" name="command">
                        <option value="Attack">Attack</option>
                        <option value="Defend">Defend</option>
                        <option value="Spell">Spell</option>
                        <option value="Escape">Escape</option>
                    </select>
                    <div class="item-padding fade-in" hidden id="spells">
                        <select name="spellName">
                            @foreach (var spell in Model.Hero.Spells)
                            {
                                <option value="@spell.Name">@spell.Name</option>
                            }
                        </select>
                    </div>
                    <div class="item-padding">
                        <input type="submit" class="main-button" name="button" id="action" value="Action" />
                    </div>
                </form>
                <div class="item-padding">
                </div>
            </div>
        </div>
    </div>
    <partial name="_Footer">
        @section scripts
        {
            <script src="~/js/battle.js"></script>
        }
