@model Application.CQ.Forum.Topic.Queries.GetCurrentTopicQuery.TopicFullViewModel

@{
    ViewData["Title"] = "CurrentTopic";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <partial name="_ForumNavBar">
</head>
<body>
    <h1 class="has-text-align-center">@Model.Title</h1>
    <div class="item-padding has-text-align-center">
        <h2 class="main-font-color">@Model.Content</h2>
        <h3 class="main-font-color">@Model.CreateOn.Date</h3>
    </div>
</body>
</html>

<div class="has-text-align-center item-margin">
    @if (Model.Comments.Count() == 0)
    {
        <h2 class="has-text-align-center main-font-color">No comments yet... Be the first to write <a asp-controller="Comment" asp-action="Create" asp-route-id="@Model.Id">one</a></h2>
    }
    else
    {
        @foreach (var comment in Model.Comments)
        {
            <div class="item-padding">
                <p class="main-font-color has-medium-font-size"><a asp-controller="User" asp-action="Profile" asp-route-id="@comment.UserId"></a></p>
                <p class="main-font-color has-medium-font-size">@comment.Content</p>
                <a asp-controller="Comment" asp-action="Like" asp-route-id="@comment.Id"><i class="fas fa-thumbs-up has-medium-font-size"></i></a>@comment.Likes <a asp-controller="Comment" asp-action="Replies"><i class="fas fa-comments has-medium-font-size"></i></a>@comment.Replies.Count
            <hr />
            </div>
        }
        <div class="item-padding">
            <a asp-controller="Comment" asp-action="Create" asp-route-id="@Model.Id"><p class="has-text-align-center has-large-font-size main-font-color">Leave a Coment?</p></a>
        </div>
    }
</div>
