@model Application.CQ.Forum.Topic.Queries.GetAllTopicsQuery.TopicListViewModel

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <partial name="_ForumNavBar">
</head>
<body>
    @if (Model.Topics.Count() == 0)
    {
        <h1 class="has-text-align-center secondary-font-color">No content to display</h1>
    }
    else
    {
        foreach (var topic in Model.Topics)
        {
            <div class="has-text-align-center">
                <p class="main-font-color">[@topic.Category]<a asp-controller="Forum" asp-action="CurrentTopic" asp-route-id="@topic.Id"></a>@topic.Title by <a asp-controller="User" asp-action="Profile" asp-route-id="@topic.UserId">@topic.UserName</a></p>
                <i class="fas fa-thumbs-up"></i>@topic.Likes <i class="fas fa-comments"></i>@topic.Comments
                <a asp-controller="Report" asp-action="ReportTopic" asp-route-id="@topic.Id"><i class="fas fa-exclamation-circle"></i></a>
                <input type="hidden" name="contentType" value="" />
            </div>
        }
    }

</body>
</html>

