@model Application.CQ.Social.Topics.Queries.GetAllTopicsQuery.TopicListViewModel
<title>Home</title>
<partial name="_ForumNavBar">

    @if (Model.Topics.Count() == 0)
    {
        <div class="item-padding  fade-in">
            <h1 class="secondary-font-color has-large-font-size item-padding">No content to display</h1>
            <div class="item-padding">
            </div>
            <form asp-controller="Forum" asp-action="Home" method="get" class="aligncenter">
                <hr />
                <p class="has-normal-font-size">
                    <label for="game">Game </label>
                    <input type="checkbox" name="check" id="game" value="Game" />
                    <label for="social">Social</label>
                    <input type="checkbox" name="check" id="social" value="Social" />
                    <label for="complain">Complain</label>
                    <input type="checkbox" name="check" id="complain" value="Complain" />
                    <label for="ideas">Ideas</label>
                    <input type="checkbox" name="check" id="ideas" value="Ideas" />
                    <input type="submit" name="button" value="Filter" />
                </p>

            </form>
            <hr />
        </div>

    }
    else
    {
        <div class=" starting-div fade-in">
            <h1 class="secondary-font-color has-large-font-size item-padding">All Topics</h1>
            <div class="item-padding  aligncenter">
                <form asp-controller="Forum" asp-action="Home" method="get" class="aligncenter">
                    <hr />
                    <p class="has-normal-font-size">
                        <label for="game">Game </label>
                        <input type="checkbox" name="check" id="game" value="Game" />
                        <label for="social">Social</label>
                        <input type="checkbox" name="check" id="social" value="Social" />
                        <label for="complain">Complain</label>
                        <input type="checkbox" name="check" id="complain" value="Complain" />
                        <label for="ideas">Ideas</label>
                        <input type="checkbox" name="check" id="ideas" value="Ideas" />
                        <input type="submit" name="button" value="Filter" />
                    </p>
                </form>
                <hr />
            </div>
        </div>
        <cache vary-by="@Model.Topics">
            @foreach (var topic in Model.Topics)
            {
                <div class=" item-padding">
                    <p class="main-font-color has-normal-font-size">
                        [@topic.Category]<a asp-controller="Forum" asp-action="CurrentTopic" asp-route-id="@topic.Id"><span class="main-font-color">@topic.Title</span></a>
                        by @if (Model.ViewerId == topic.UserId)
                        {
                            <a asp-controller="Profile" asp-action="Panel"><em class="text-color">@topic.UserName (You)</em></a>
                            <i class="fas fa-thumbs-up has-large-font-size"></i><b class="has-medium-font-size main-font-color">@topic.Likes.Count</b>
                        }
                        else
                        {
                            <a asp-controller="Profile" asp-action="CurrentUser" asp-route-id="@topic.UserId"><em class="text-color">@topic.UserName</em></a>
                            if (topic.Likes.Any(l => l.UserId == Model.ViewerId))
                            {
                                <a asp-controller="Topic" asp-action="Dislike" asp-route-id="@topic.Id"><i class="fas fa-thumbs-up has-large-font-size light-font-color"></i> <b class="has-medium-font-size main-font-color">@topic.Likes.Count</b></a>
                            }
                            else
                            {
                                <a asp-controller="Topic" asp-action="Like" asp-route-id="@topic.Id"><i class="fas fa-thumbs-up has-large-font-size main-font-color"></i> <b class="has-medium-font-size main-font-color">@topic.Likes.Count</b></a>
                            }
                        }
                    </p>
                    <a asp-controller="Forum" asp-action="CurrentTopic" asp-route-id="@topic.Id">
                        <i class="fas fa-comments has-large-font-size"></i><b class="has-medium-font-size main-font-color">@topic.Comments</b>
                    </a>
                    @if (topic.UserId == Model.ViewerId)
                    {
                        <a asp-controller="Topic" asp-action="Delete" asp-route-id="@topic.Id"><i class="icofont-trash icofont-2x"></i></a>
                        <a asp-controller="Topic" asp-action="Edit" asp-route-id="@topic.Id"><i class="fas fa-edit has-large-font-size"></i></a>
                    }
                    <div class="item-padding">
                    </div>
                    <hr />
                </div>
            }
        </cache>
    }
