@model Application.CQ.Admin.GameContent.Spells.Queries.GetCurrentSpellQuery.SpellFullViewModel
<title>CurrentSpell</title>
<partial name="_AdminNavBar">
    <a asp-controller="GameContent" asp-action="Spells"><i class="fas fa-arrow-left has-massive-font-size top-left-icon main-font-color"></i></a>
    <div class="starting-div fade-in ">
            <h1 class="main-font-color has-large-font-size item-padding">Reviewing @Model.Name used by @Model.ClassType</h1>
            <div class="item-padding">
                <hr />
                <div class="row">
                    <div class="col-md-4">
                            <div class="form-group fade-in item-padding">
                                <label class="contro-label has-normal-font-size">Type</label>
                                <br />
                                <h2 class="main-font-color has-normal-font-size">@Model.Type.Split(',')[0]</h2>
                            </div>
                            <div class="form-group fade-in item-padding">
                                <label class="contro-label has-normal-font-size">Stat</label>
                                <br />
                                <h2 class="main-font-color has-normal-font-size">@Model.Type.Split(',')[1]</h2>
                            </div>
                            <div class="form-group fade-in item-padding">
                                <label class="contro-label has-normal-font-size">Provider</label>
                                <br />
                                <h2 class="main-font-color has-normal-font-size">@Model.Type.Split(',')[2]</h2>
                            </div>

                        <div class="form-group fade-in item-padding">
                            <label class="contro-label has-normal-font-size">Spell Power</label>
                            <br />
                            <h2 class="main-font-color has-normal-font-size">@Model.Power</h2>
                        </div>
                        @if (Model.SecondaryPower > 0)
                        {
                            <div class="form-group fade-in item-padding">
                                <label class="contro-label has-normal-font-size">Secondary Spell Power</label>
                                <br />
                                <h2 class="main-font-color has-normal-font-size">@Model.SecondaryPower</h2>
                            </div>
                        }

                        <div class="form-group fade-in item-padding">
                            <label class="contro-label has-normal-font-size">Mana Requirment</label>
                            <br />
                            <h2 class="main-font-color has-normal-font-size">@Model.ManaRequirement</h2>
                        </div>

                        @if (Model.AdditionalEffect != null)
                        {
                            @if (Model.AdditionalEffect.Split(',').Count() > 2)
                            {
                                <div class="form-group fade-in item-padding">
                                    <label class="contro-label has-normal-font-size">Additional Effects</label>
                                    <br />
                                    <h2 class="main-font-color has-normal-font-size">@Model.AdditionalEffect</h2>
                                </div>
                            }
                            else
                            {
                                <div class="form-group fade-in item-padding">
                                    <label class="contro-label has-normal-font-size">Additional Effect</label>
                                    <br />
                                    <h2 class="main-font-color has-normal-font-size">@Model.AdditionalEffect</h2>
                                </div>
                            }

                            <div class="form-group fade-in item-padding">
                                <label class="contro-label has-normal-font-size">Effect Power</label>
                                <br />
                                <h2 class="main-font-color has-normal-font-size">@Model.EffectPower</h2>
                            </div>

                            @if (Model.AdditionalEffect.Split(',').Count() > 2)
                            {
                                <div class="form-group fade-in item-padding">
                                    <label class="contro-label has-normal-font-size">Secondary Effect Power</label>
                                    <br />
                                    <h2 class="main-font-color has-normal-font-size">@Model.EffectPower</h2>
                                </div>
                            }
                        }

                        @if (Model.BuffOrEffectTarget != null)
                        {

                            if (Model.BuffOrEffectTarget.Split("/").Count() > 1)
                            {
                                <div class="form-group fade-in item-padding">
                                    <label class="contro-label has-normal-font-size">Buff or Effect Targets</label>
                                    <br />
                                    <h2 class="main-font-color has-normal-font-size">@Model.BuffOrEffectTarget</h2>
                                </div>
                            }
                            else
                            {
                                <div class="form-group fade-in item-padding">
                                    <label class="contro-label has-normal-font-size">Buff or Effect Target</label>
                                    <br />
                                    <h2 class="main-font-color has-normal-font-size">@Model.BuffOrEffectTarget</h2>
                                </div>
                            }
                        }
                        <div class="item-padding " id="@Model.Id">
                            <a asp-controller="Spell" asp-action="Update" asp-route-id="@Model.Id"><i class="fas fa-edit has-large-font-size main-font-color"></i></a>
                            <form asp-controller="Spell" asp-action="Delete" method="post" class="item-padding">
                                <input type="hidden" name="id" value="@Model.Id" />
                                <input type="submit" name="button" value="Delete" class="main-button" />
                            </form>
                        </div>
                        <div class="item-padding">
                            <hr />
                        </div>
                    </div>
                </div>

            </div>
    </div>
