@model Application.GameCQ.Items.Queries.GetPersonalItemsQuery.ItemListViewModel
<title>Items</title>
<partial name="_AdminNavBar">
    <script>
        $(document).ready(function () {
            var scrollTop = $('#scroll-top');

            $(window).scroll(function () {
                if ($(window).scrollTop() > 1200) {
                    scrollTop.removeClass('fade-out');
                    scrollTop.show();
                } else {
                    scrollTop.addClass('fade-out');
                }
            })

            scrollTop.click(function () {
                $('html, body').animate({
                    scrollTop: $("#top").offset().top
                }, 1200);
            })
        })
    </script>
    <i id="scroll-top" class="icofont-bubble-up fade-in is-clickable icofont-6x main-font-color bottom-right-icon" style="display:none"></i>
    <div class="starting-div fade-in" id="top">
        <h1 class="main-font-color has-large-font-size item-padding">Items</h1>
        <div class="item-padding">
            <hr />
            <cache vary-by-query="slot">
                @foreach (var item in Model.Items)
                {
                    <div class="item-padding " id="@item.Id">
                        <img src="@item.ImagePath" alt="@item.Name's Image">
                        <a asp-controller="Item" asp-action="Current" asp-route-id="@item.Id" asp-route-slot="@item.Slot"><h3 class="main-font-color">@item.Name</h3></a>
                        <a asp-controller="Item" asp-action="Update" asp-route-id="@item.Id" asp-route-slot="@item.Slot"><i class="fas fa-edit has-large-font-size main-font-color"></i></a>
                        <form asp-controller="Item" asp-action="Delete" method="post" class="item-padding">
                            <input type="hidden" name="id" value="@item.Id" />
                            <input type="hidden" name="slot" value="@item.Slot" />
                            <input type="submit" name="button" value="Delete" class="main-button" />
                        </form>
                        <hr />
                    </div>
                }
            </cache>
        </div>
    </div>
