@model Application.GameCQ.Monsters.Queries.GetAllMonstersQuery.MonsterListViewModel
<title>All Monsters</title>
<partial name="_AdminNavBar">
    <script>
        $(document).ready(function () {
            var scrollTop = $('#scroll-top');

            $(window).scroll(function () {
                if ($(window).scrollTop() > 1200) {
                    scrollTop.removeClass('fade-out');
                    scrollTop.show();
                } else {
                    scrollTop.addClass('fade-out');
                }
            })

            scrollTop.click(function () {
                $('html, body').animate({
                    scrollTop: $("#top").offset().top
                }, 1200);
            })
        })
    </script>
    <div class="has-text-align-center fade-in starting-div" id="top">
        <i id="scroll-top" class="icofont-bubble-up fade-in is-clickable icofont-6x main-font-color bottom-right-icon" style="display:none"></i>
        <h1 class="secondary-font-color item-padding has-larger-font-size">Monsters</h1>
        <div class="item-padding">
        </div>
        <hr />
        <cache vary-by="@Model.Monsters">
            @foreach (var monster in Model.Monsters)
            {
                <div class="main-gradient secondary-background-color" style="padding-top:100px">
                    <div style="flex-basis: 33.33%">
                        <div class="wp-block-image"><figure class="aligncenter size-large is-resized" style="padding-left:650px"><img src="@monster.ImagePath" alt="" width="100" height="100"></figure></div>
                    </div>

                    <div class="wp-block-column" style="flex-basis:66.66%">
                        <h1 class="site-title" style="text-align:center"><a asp-controller="Monster" asp-action="Current" asp-route-id="@monster.Id"><span class="light-font-color">@monster.Name</span></a></h1>
                    </div>
                </div>
                <a asp-controller="Monster" asp-action="Update" asp-route-id="@monster.Id"><i class="fas fa-edit has-large-font-size main-font-color"></i></a>
                <form asp-controller="Monster" asp-action="Delete" method="post" class="item-padding">
                    <input type="hidden" name="id" value="@monster.Id" />
                    <input type="submit" name="button" value="Delete" class="main-button" />
                </form>
                <hr />
                <br />
            }
        </cache>
    </div>
    <partial name="_Footer">
