@model Application.GameCQ.Monsters.Queries.GetAllMonstersQuery.MonsterListViewModel
<title>All Monsters</title>
<partial name="_AdminNavBar">
    <div class=" fade-in starting-div" id="top">
        <i id="scroll-top" class="icofont-bubble-up fade-in is-clickable icofont-6x main-font-color bottom-right-icon" style="display:none"></i>
        <h1 class="secondary-font-color item-padding has-larger-font-size">Monsters</h1>
        <div class="item-padding">
        </div>
        <hr />
            @foreach (var monster in Model.Monsters)
            {
                <div class="main-gradient secondary-background-color">
                    <div style="flex-basis: 33.33%">
                        <div class="wp-block-image"><figure class="size-large is-resized"><img src="@monster.ImagePath" alt="" width="100" height="100"></figure></div>
                    </div>
                    <div class="wp-block-column" style="flex-basis:66.66%">
                        <h1 class="has-large-font-size"><a asp-controller="Monster" asp-action="Current" asp-route-id="@monster.Id"><span class="light-font-color">@monster.Name</span></a></h1>
                    </div>
                </div>
                <a asp-controller="Monster" asp-action="Update" asp-route-id="@monster.Id"><i class="fas fa-edit has-large-font-size main-font-color"></i></a>
                <form asp-controller="Monster" asp-action="Delete" method="post" class="item-padding">
                    <input type="hidden" name="id" value="@monster.Id" />
                    <input type="submit" name="button" value="Delete" class="main-button" />
                </form>
                <hr />
                <br />
            }
    </div>
    @section scripts
    {
        <script src="~/js/scroll.js"></script>
    }
