@model Application.CQ.Admin.Moderation.Feedback.Queries.GetAllFeedbacksQuery.FeedbacksListViewModel
@{
    int count = 0;
}
    <title>All feedbacks</title>
    <script>
        $(document).ready(function () {
            var feedbackButton = $('.feedback-button');
            var count = $('.count').val();
            var feedback = $('.feedback').eq(count);
            var closeButton = $('.close-button');
            feedbackButton.click(function () {
                $('#top > .blurd').removeClass('blur-back');
                $('#top > .blurd').addClass('blur-all');
                feedback.removeClass('blur-all');
                feedback.show();
                feedbackButton.hide();
            })
            closeButton.click(function () {
                $('#top > .blurd').removeClass('blur-all');
                $('#top > .blurd').addClass('blur-back');
                feedback.hide();
                feedbackButton.show();
            })
        })
    </script>
    <partial name="_AdminNavBar">
    <div class="starting-div" id="top">
        <h1 class="main-font-color blurd has-larger-font-size item-padding">Feedbacks</h1>
        <div class="item-padding blurd">
            <hr />
            <br />
        </div>
        @if (Model.Feedbacks.Count() == 0)
        {
            <h2 class="secondary-font-color blurd has-large-font-size">No feedbacks to display</h2>
        }
        else
        {
            foreach (var feedback in Model.Feedbacks)
            {
                <cache vary-by="@Model.Feedbacks">
                    <div class=" item-padding blurd">
                        <h4 class="main-font-color blurd">A feedback was sent on @feedback.SentOn.ToString("MM/dd/yyyy H:mm")</h4>
                        <i onclick="" class="feedback-button icofont-look is-clickable icofont-4x"></i>
                    </div>
                    <div class="item-padding blurd">
                        <br />
                    </div>
                    <section class="feedback fade-in popup" hidden style="" id="@count">
                        <input type="text" name="name" value="@count" hidden class="count" />
                        <p class="main-font-color item-padding has-normal-font-size">A user wrote : @feedback.Content</p>
                        <i class="icofont-star main-font-color icofont-2x"></i><span class="has-normal-font-size">@feedback.Rate</span>
                        <div class="item-padding">
                            <hr />
                        </div>
                        <form asp-controller="Feedback" asp-action="Accept" method="post" class="item-padding">
                            <input type="hidden" name="id" value="@feedback.Id" />
                            <input type="number" name="stars" value="" class="has-narrow-width" placeholder="Enter stars reward" min="1" max="5" />
                            <input type="submit" name="" value="Accept" />
                        </form>
                        <form asp-controller="Feedback" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@feedback.Id" />
                            <input type="submit" name="" value="Delete" />
                        </form>

                        <button onclick="true" class="close-button">Cancel</button>
                    </section>
                </cache>
            }
        }
    </div>
    <div id="end">
    </div>
