@model Application.GameCQ.FightingClasses.Queries.GetCurrentFightingClassQuery.FightingClassFullViewModel
<title>Current Fighting Class</title>
<partial name="_AdminNavBar">
    <div class="has-text-align-center starting-div fade-in aligncenter">
        <cache vary-by-query="id">
            <h1 class="secondary-font-color has-larger-font-size">@Model.Type</h1>
            <div class="item-padding">
                <hr />
                <div class="wp-block-image">
                    <img src="~/images/Icons/Heart.png" alt="Health" width="48" height="48">
                    <div class="item-padding">
                        <h2 class="secondary-font-color has-normal-font-size">@Model.MaxHP</h2>
                    </div>
                </div>
                <div class="wp-block-image">
                    <img src="~/images/Icons/mana.png" alt="Mana" width="48" height="48">
                    <div class="item-padding">
                        <h2 class="secondary-font-color has-normal-font-size">@Model.MaxMana</h2>
                    </div>
                </div>
                <div class="wp-block-image">
                    <img src="~/images/Icons/attack.png" alt="Attack" width="60" height="55">
                    <div class="item-padding">
                        <h2 class="secondary-font-color has-normal-font-size">@Model.AttackPower</h2>
                    </div>
                </div>
                <div class="wp-block-image">
                    <img src="~/images/Icons/Wand.png" alt="Magic Power" width="56" height="48">
                    <div class="item-padding">
                        <h2 class="secondary-font-color has-normal-font-size">@Model.MagicPower</h2>
                    </div>
                </div>
                <div class="wp-block-image">
                    <img src="~/images/Icons/HpRegen.png" alt="Health Regen" width="60" height="55">
                    <div class="item-padding">
                        <h2 class="secondary-font-color has-normal-font-size">@Model.HealthRegen</h2>
                    </div>
                </div>
                <div class="wp-block-image">
                    <img src="~/images/Icons/ManaRegen.png" alt="Mana Regen" width="58" height="55">
                    <div class="item-padding">
                        <h2 class="secondary-font-color has-normal-font-size">@Model.ManaRegen</h2>
                    </div>
                </div>
                <div class="wp-block-image">
                    <img src="~/images/Icons/Helm.png" alt="Armor" width="55" height="55">
                    <div class="item-padding">
                        <h2 class="secondary-font-color has-normal-font-size">@Model.ArmorValue</h2>
                    </div>
                </div>
                <div class="wp-block-image">
                    <img src="~/images/Icons/Cap.png" alt="Resistance" width="55" height="55">
                    <div class="item-padding">
                        <h2 class="secondary-font-color has-normal-font-size">@Model.ResistanceValue</h2>
                    </div>
                </div>
                <div class="wp-block-image">
                    <img src="~/images/Icons/Scythe.png" alt="Crit" width="55" height="55">
                    <div class="item-padding">
                        <h2 class="secondary-font-color has-normal-font-size">@Model.CritChance</h2>
                    </div>
                </div>
            </div>
        </cache>
    </div>
