@model Application.GameCQ.FightingClasses.Queries.GetAllFightingClassesQuery.FightingClassListViewModel
<title>Create a Hero</title>
<partial name="_NavBar">
    <div class="container fade-in has-text-align-center starting-div">
        <cache vary-by="@Model.FightingClasses">
            @foreach (var fightingClass in Model.FightingClasses)
            {
                <div class="entry-content single-entry-content item-padding">
                    <div class="entry-header with-image full site-background main-gradient">
                        <div class="wp-block-image is-style-circle-mask"><figure class="aligncenter size-large is-resized" style="padding-left:560px"><img src="@fightingClass.ImagePath" alt="" width="300" height="300" /></figure></div>
                        <h1 class="section-title image-name main-font-color">@fightingClass.Type</h1>
                        <h2 class="has-text-color has-text-align-center image-description main-font-color">@fightingClass.Description</h2>
                    </div>
                    <div class="has-text-align-center race-pick">
                        <form asp-controller="Hero" asp-action="Create" method="post">
                            <select name="race" class="has-narrow-width">
                                <option value="Human">Human</option>
                                <option value="Orc">Orc</option>
                                <option value="Elf">Elf</option>
                                <option value="Dwarf">Dwarf</option>
                                <option value="Troll">Troll</option>
                                <option value="Goblin">Goblin</option>
                            </select>
                            <div class="item-padding">
                                <input type="text" name="name" placeholder="Insert your character Name" />
                                <div class="item-padding">
                                    Names should only contain lower case letters and/or digits and should be between 5 and 20 characters.
                                    <span asp-validation-for="@Model.Hero.Name" class="has-medium-font-size main-font-color fade-in"></span>
                                </div>
                            </div>
                            <div class="item-padding">
                                <input type="hidden" name="classType" value="@fightingClass.Type" />
                                <input type="submit" name="" class="main-button" value="Create Character" style="width:300px" />
                            </div>
                        </form>
                    </div>
                </div>
                <hr />
                <br />
            }
        </cache>
    </div>
