@model Application.GameCQ.Equipments.Queries.EquipmentViewModel

<title>Equipment</title>
<partial name="_NavBar">
    @{
        string heroId = Context.Request.Query["id"];
    }
    <div class="starting-div fade-in">
        <a asp-controller="Hero" asp-action="Inventory" asp-route-id="@heroId"><i class="fas fa-boxes has-massive-font-size main-font-color bottom-right-icon"></i></a>
        <a asp-controller="Hero" asp-action="Equipment" asp-route-id="@heroId"><i class="fas fa-child has-massive-font-size main-font-color bottom-left-icon"></i></a>
        @if (Model.Items == null)
        {
            <h1 class="main-font-color has-large-font-size item-padding">No items to display</h1>
            <div class="item-padding">
                <hr />
            </div>
        }
        else
        {
            <h1 class="main-font-color has-large-font-size item-padding">Your Equipment</h1>
            <div class="item-padding">
                <hr />
            </div>

            @foreach (var item in Model.Items)
            {
                <div class="item-padding">
                    <img src="@item.ImagePath" alt="Item Image" />
                    <p class="main-font-color has-normal-font-size">@item.Name</p>
                    <p class="main-font-color has-normal-font-size">Level : @item.Level</p>
                </div>
                <form asp-controller="Hero" asp-action="Equip" method="post">
                    <input type="hidden" name="id" value="@item.Id" />
                    <input type="hidden" name="command" value="UnEquip" />
                    <input type="hidden" name="slot" value="@item.Slot" />
                    <input type="hidden" name="heroId" value="@heroId" />
                    <input type="submit" name="action" value="UnEquip" class="main-button" />
                </form>
                <hr />
            }
        }

    </div>
