@model Application.GameCQ.Items.Queries.GetPersonalItemsQuery.ItemListViewModel
<title>Inventory</title>
<partial name="_NavBar">
    @{
        string heroId = Context.Request.Query["id"];
    }
    <div class=" fade-in starting-div">
        <h1 class="secondary-font-color item-padding">Your Inventory</h1>
        <div class="item-padding">
            <hr />
            <a asp-controller="Hero" asp-action="Inventory" asp-route-id="@heroId" asp-route-slot="Armor"><i class="fas fa-shield-alt main-font-color has-massive-font-size bottom-right-icon"></i></a>
            <a asp-controller="Hero" asp-action="Inventory" asp-route-id="@heroId" asp-route-slot="Weapon"><i class="fas fa-khanda main-font-color has-massive-font-size bottom-right-icon" style="bottom:120px"></i></a>
            <a asp-controller="Hero" asp-action="Inventory" asp-route-id="@heroId" asp-route-slot="Trinket"><i class="fas fa-ankh main-font-color has-massive-font-size bottom-right-icon" style="right:130px"></i></a>
            <a asp-controller="Hero" asp-action="Inventory" asp-route-id="@heroId" asp-route-slot="Treasure Key"><i class="fas fa-gem main-font-color has-massive-font-size bottom-left-icon"></i></a>
            <a asp-controller="Hero" asp-action="Inventory" asp-route-id="@heroId" asp-route-slot="Material"><i class="fas fa-cog main-font-color has-massive-font-size bottom-left-icon" style="bottom:120px"></i></a>
            <a asp-controller="Hero" asp-action="Inventory" asp-route-id="@heroId" asp-route-slot="Tool"><i class="fas fa-hammer main-font-color has-massive-font-size bottom-left-icon" style="left:130px"></i></a>
            @if (Model != null)
            {
                @foreach (var item in Model.Items)
                {
                    <div class="item-padding">
                        <img src="@item.ImagePath" alt="Item Image" />
                        <p class="main-font-color has-normal-font-size">@item.Name</p>
                        <p class="main-font-color has-normal-font-size">Required Level : @item.Level</p>
                        @if (item.ClassType != null)
                        {
                            @if (item.ClassType == "Any" && item.Level <= Model.HeroLevel)
                            {
                                <form asp-controller="Hero" asp-action="Equip" method="post">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <input type="hidden" name="command" value="Equip" />
                                    <input type="hidden" name="slot" value="@item.Slot" />
                                    <input type="hidden" name="heroId" value="@heroId" />
                                    <input type="submit" name="action" value="Equip" class="main-button" />
                                </form>
                            }

                            @if (item.ClassType == Model.HeroClass && item.Level <= Model.HeroLevel)
                            {
                                <p>Equip</p>
                            }

                        }
                        else
                        {
                            <p>Materials</p>
                        }
                    <form asp-controller="Hero" asp-action="DiscardItem" method="post">
                        <input type="hidden" name="id" value="@item.Id" />
                        <input type="hidden" name="count" value="1" />
                        <input type="hidden" name="slot" value="@item.Slot" />
                        <input type="hidden" name="heroId" value="@heroId" />
                        <input type="submit" name="action" value="Discard" class="main-button" />
                    </form>
                        <hr />
                    </div>
                }
            }
            else
            {
                <div class="item-padding">
                    <p class="main-font-color has-normal-font-size">
                        No items to display in this section.
                    </p>
                </div>
            }
        </div>
    </div>
