@model Application.CQ.Forum.Topic.Queries.GetCurrentTopicQuery.TopicFullViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title class="has-text-align-center secondary-font-color">ReportTopic</title>
    <partial name="_NavBar">
</head>
<body>
    <div class="fade-in">
        <div class="has-text-align-center">
            <dl class="dl-horizontal">

                <dt class="has-medium-font-size">
                    <em>@Html.DisplayNameFor(model => model.Title)</em>
                </dt>
                <dd class="has-large-font-size secondary-font-color">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="has-medium-font-size main-font-color">
                    <em>@Html.DisplayNameFor(model => model.Category)</em>
                </dt>
                <dd class="has-large-font-size main-font-color">
                    @Html.DisplayFor(model => model.Category)
                </dd>
                <hr />
                <dt class="has-medium-font-size main-font-color">
                    <em>@Html.DisplayNameFor(model => model.Content)</em>
                </dt>
                <dd class="has-large-font-size main-font-color">
                    @Html.DisplayFor(model => model.Content)
                </dd>
                <hr />
                <dt class="has-medium-font-size main-font-color">
                    <em>@Html.DisplayNameFor(model => model.Likes)</em>
                </dt>
                <dd class="has-large-font-size main-font-color">
                    @Html.DisplayFor(model => model.Likes)
                </dd>
                <hr />
                <dt class="has-medium-font-size main-font-color">
                    <em>@Html.DisplayNameFor(model => model.CreateOn)</em>
                </dt>
                <dd class="has-large-font-size main-font-color">
                    @Html.DisplayFor(model => model.CreateOn)
                </dd>
                <hr />
            </dl>
        </div>
        <div class="item-padding">
            <form asp-controller="Report" asp-action="ReportTopic" method="post">
                <input type="hidden" name="topicId" value="@Model.Id" />
                <select class="aligncenter " name="category">
                    <option value="Racism">Racism</option>
                    <option selected value="Hate Speech">Hate Speech</option>
                    <option value="Homophobia">Homophobia</option>
                    <option value="Cursing">Cursing</option>
                    <option value="Spam">Spam</option>
                </select>
                <div class="item-padding">
                    <input type="text" name="additionalInformation" value="" placeholder="Please, give us more information about this content." />
                </div>
                <div class="item-padding">
                    <input class="aligncenter has-medium-font-size" type="submit" name="button" value="Send" />
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>
