@model Application.CQ.Social.Comments.Queries.GetCurrentCommentQuery.CommentMinViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title class="has-text-align-center secondary-font-color">ReportComment</title>
</head>
<body>
    <div class="fade-in">
        <div>
            <h4>CommentMinViewModel</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="has-large-font-size main-font-color">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Content)
                </dt>
                <dd class="has-large-font-size main-font-color">
                    @Html.DisplayFor(model => model.Content)
                </dd>
            </dl>
        </div>
        <div>
            <form asp-controller="Report" asp-action="ReportComment" method="post">
                <input type="hidden" name="commentId" value="@Model.Id" />
                <select name="category">
                    <option value="Racism">Racism</option>
                    <option value="Hate Speech">Hate Speech</option>
                    <option value="Homophobia">Homophobia</option>
                    <option value="Cursing">Cursing</option>
                    <option value="Spam">Spam</option>
                </select>

                <input type="text" name="additionalInformation" value="" placeholder="Please, give us more information about this content." />

                <input type="submit" name="button" value="Send" />
            </form>
        </div>
    </div>

</body>
</html>
