@model Application.CQ.Admin.Users.Queries.GetOnlineUsersQuery.UserListViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Friends</title>
    <partial name="_SocialNavBar">
</head>
<body>
    <div class="has-text-align-center fade-in item-padding">
        @if (Model.Users.Count() > 0)
        {
            <h1 class="has-text-align-center secondary-font-color has-large-font-size">Your Friends</h1>
            <div class="item-padding">
                <hr />
            </div>
            <cache vary-by="@Model.Users">
                @foreach (var friend in Model.Users)
                {
                    <div class="item-padding">
                        <div class="has-text-align-center">
                            <p class="main-font-color has-large-font-size"><a asp-controller="Profile" asp-action="CurrentUser" asp-route-id="@friend.Id"><span class="light-font-color">@friend.UserName</span></a></p>
                            <a asp-controller="Message" asp-action="All" asp-route-id="@friend.Id"><i class="far fa-comment-alt has-large-font-size"></i></a>
                            <form asp-controller="Friends" asp-action="Remove" method="post">
                                <input type="hidden" name="friendId" value="@friend.Id" />
                                <div class="item-padding">
                                    <input type="submit" name="button" value="Delete" class="main-button" />
                                </div>
                            </form>
                            <div class="item-padding">
                                <hr />
                            </div>
                        </div>
                    </div>
                }
            </cache>
        }
        else
        {
            <h1 class="has-text-align-center secondary-font-color has-large-font-size">You currently don't have any Friends</h1>
            <div class="item-padding">
                <hr />
            </div>
        }
    </div>
</body>
</html>
