@model Application.CQ.Social.FriendRequests.Queries.FriendRequestListViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Requests</title>
    <partial name="_SocialNavBar">
</head>
<body>
    <div class="has-text-align-center item-padding fade-in">
        @if (Model != null)
        {
            <h1 class="secondary-font-color">Your Current Friend Requests</h1>
            <div class="item-padding has-text-align-center">
                <hr />
                @foreach (var friendRequest in Model.FriendRequests)
                {
                    var timeSpan = (DateTime.UtcNow - friendRequest.SentOn);

                    if (timeSpan.Minutes < 1)
                    {
                        <p class="main-font-color has-large-font-size">@friendRequest.SenderName has sent you a Friend Request just now.</p>
                    }
                    else if (timeSpan.Hours < 1)
                    {
                        <p class="main-font-color has-large-font-size">
                            @friendRequest.SenderName has sent you a Friend Request @timeSpan.Minutes minutes ago.
                        </p>
                    }
                    else if (timeSpan.Days < 1)
                    {
                        <p class="main-font-color has-large-font-size">
                            @friendRequest.SenderName has sent you a Friend Request @timeSpan.Hours hours ago.
                        </p>
                    }
                    else if (timeSpan.Days == 1)
                    {
                        <p class="main-font-color has-large-font-size">
                            @friendRequest.SenderName has sent you a Friend Request yesterday.
                        </p>
                    }
                    else if (timeSpan.Days > 1)
                    {
                        <p class="main-font-color has-large-font-size">
                            @friendRequest.SenderName has sent you a Friend Request @timeSpan.Days days ago.
                        </p>
                    }
                    
                    <form asp-controller="Friends" asp-action="AcceptRequest" method="post">
                        <input type="text" name="requestId" value="@friendRequest.Id" />
                        <input type="submit" name="button" value="Accept" />
                    </form>
                    <form asp-controller="Friends" asp-action="Delete" method="delete">
                        <input type="text" name="requestId" value="@friendRequest.Id" />
                        <input type="submit" name="button" value="Delete" />
                    </form>
                }
            </div>
        }
        else
        {
            <h1 class="secondary-font-color">You currently don't have any Friend Requests</h1>
            <div class="item-padding"><hr /></div>
        }
    </div>

</body>
</html>
