@model Application.CQ.Social.FriendRequests.Queries.FriendRequestListViewModel
<title>Requests</title>
<partial name="_SocialNavBar">
    <div class=" starting-div fade-in">
        @if (Model.FriendRequests.Count() > 0)
        {
            <h1 class="secondary-font-color item-padding">Your Current Friend Requests</h1>
            <div class="item-padding ">
                <hr />
                <cache vary-by="@Model.FriendRequests">
                    <div class="item-padding">
                        @foreach (var friendRequest in Model.FriendRequests.OrderByDescending(f => f.SentOn))
                        {
                            var timeSpan = (DateTime.UtcNow - friendRequest.SentOn);

                            if (timeSpan.Minutes < 1)
                            {
                                <p class="main-font-color has-large-font-size">@friendRequest.SenderName has sent you a Friend Request just now.</p>
                            }
                            else if (timeSpan.Hours < 1)
                            {
                                <p class="main-font-color has-large-font-size">
                                    @friendRequest.SenderName has sent you a Friend Request @timeSpan.Minutes minute(s) ago.
                                </p>
                            }
                            else if (timeSpan.Days < 1)
                            {
                                <p class="main-font-color has-large-font-size">
                                    @friendRequest.SenderName has sent you a Friend Request @timeSpan.Hours hours ago.
                                </p>
                            }
                            else if (timeSpan.Days == 1)
                            {
                                <p class="main-font-color has-large-font-size">
                                    @friendRequest.SenderName has sent you a Friend Request yesterday.
                                </p>
                            }
                            else if (timeSpan.Days > 1)
                            {
                                <p class="main-font-color has-large-font-size">
                                    @friendRequest.SenderName has sent you a Friend Request @timeSpan.Days days ago.
                                </p>
                            }
                            <div class="item-padding">
                                <form asp-controller="Friends" asp-action="AcceptRequest" method="post">
                                    <input type="hidden" name="requestId" value="@friendRequest.Id" />
                                    <input type="submit" name="button" class="main-button" value="Accept" />
                                </form>
                            </div>

                            <div class="item-padding">
                                <form asp-controller="Friends" asp-action="Delete" method="delete">
                                    <input type="hidden" name="requestId" value="@friendRequest.Id" />
                                    <input type="submit" name="button" class="main-button" value="Delete" />
                                </form>
                            </div>
                            <div class="item-padding">
                                <hr />
                            </div>
                        }

                    </div>
                </cache>
            </div>
        }
        else
        {
            <h1 class="secondary-font-color item-padding">You currently don't have any Friend Requests</h1>
            <div class="item-padding"><hr/></div>
        }
    </div>
